.qa-tabs {
  border: none;
  color: #999999;
  position: relative;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  overflow-y: hidden;
}

.qa-tabs > li {
  float: inherit;
  margin-bottom: 0;
}

.qa-tabs > li > a {
  display: block;
  border: none;
  color: #999;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #eee;
  border: 1px solid #cccccc;
}

.qa-tabs > li > a:hover, .qa-tabs > li > a:focus {
  background-color: #ff443f;
  color: #fff;
  border-color: #ff443f;
}

.qa-tabs > li.active > a {
  background-color: #ff443f;
  border-color: #ff443f;
  color: #fff;
}

.qa-tabs > li.active > a:hover, .qa-tabs > li.active > a:focus {
  background-color: #ff443f;
  border-color: #ff443f;
  color: #fff;
}

.qa_container {
  position: relative;
  height: auto;
}

.qa_container > h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.qa_box {
  position: relative;
  width: 100%;
  height: auto;
  margin: 5px 0;
}

.qa_box > a {
  display: block;
  padding: 10px 10px 10px 55px;
  text-decoration: none;
  color: #444;
  border-bottom: 1px solid #dadada;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  position: relative;
}

.qa_box > a i {
  position: absolute;
  margin-top: 4px;
  color: #a8b0b9;
  top: 10px;
  right: 0;
}

.qa_box > a.active {
  border-bottom: none;
  color: #ff443f;
  text-decoration: underline;
  background: #f2f2f2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.qa_box > a.active .q_icon {
  color: #ff443f;
}

.qa_box > a.active i {
  color: #fff;
}

.qa_box > a.active + .qa_content {
  background: #f2f2f2;
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px 20px 15px;
}

.qa_content {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #dadada;
  display: none;
  padding: 5px 4% 20px;
  color: #444;
  position: relative;
}

.q_icon {
  position: absolute;
  left: 20px;
  color: #7b4b00;
  font-size: 24px;
}
