.submit_btn{
    background-color: #ff443f;
    color: #fff;
    &:hover{
        background: #de2d28;
        color: #fff;
    }
}
.video_container{
    padding-top: 0;
}

.video_player_info_path {
    background-color: #f5f5f5;
    ul{
        margin: 0;
        padding: 10px 0;
    }
    li{
        display: inline-block;
    }
    a{
        color: #444444;
    }
}
.video_player_box {
    background: #1a1a1a;
    padding: 35px 0 0;
    h3{
        display: inline-block;
        margin-top: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #ff443f;
        font-weight: bold;
        font-size: 18px;
        // &::before{
        //     content: "";
        //     width: 3px;
        //     height: 20px;
        //     display: inline-block;
        //     background-color: #ff443f;
        //     position: relative;
        //     top: 5px;
        //     margin-right: 5px;
        // }
    }
    .video_player_container {
        background: #282828;
        padding:0;
        // max-width: 1410px;
        > div{
            padding-left: 0;
            padding-right:0;
        }
        iframe{
            display: block;
            height: 550px;
        }
    }
    @media(max-width:991px){
        padding-top: 20px;
        .video_player_container {
            iframe{
                height: 450px;
            }
        }
    }
    @media(max-width:767px){
        .video_player_container {
            iframe{
                height: 350px;
            }
        }
    }
    @media(max-width:575px){
        .video_player_container {
            iframe{
                height: 250px;
            }
        }
    }
}

.video_player_side{
    padding: 20px 0;
    max-height: 550px;
    overflow: auto;
    overflow-x: hidden;
    h3{
        margin-left: 10px;
        color: #ccc
    }
    @media(max-width:991px){
        padding-bottom: 0;
    }
}
ul.page_tabs.video_play_side_tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 38px;
    width: 100%;
    border-bottom: 1px solid #474747;
    li {
        float: left;
        cursor: pointer;
        padding:0;
        height: 37px;
        line-height: 35px;
        color: #999999;
        position: relative;
        margin-left: 10px;
        position: relative;
        top: 1px;
        &:hover {
            color:#ff443f;
            display: block;
        }
        &.active {
            color: #ff443f;
            display: block;
            border-bottom: 3px solid #ff443f;
        }
    }
}
.tab_intro{
    ul{
        margin: 0 10px 15px;
        padding: 0;
        list-style: none;
        color: #ccc;
    }
    li{
        display: flex;
    }
    a{
        color: #ccc;
    }
    .title{
        color: #8e8e8e;
        width: 45px;
    }
    .txt{
        flex: 1;
    }
}
.tab_head{
    display: flex;
    padding-right: 10px;
    b{
        color: #ccc;
    }
    i{
        margin-right: 5px;
    }
    .user-act{
        display: flex;
        margin-left: auto;
    }
    
    
}
.share-box{
    a{
        display: inline-flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #3b5998;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 20px;
    
        &.weixin{
            background-color: #4fbd31;
        }
        &.twitter{
            background-color: #1e9ced;
        }
        &.google{
            background-color: #d64a36;
        }
    }
    i{
        font-size: 12px;
    }
}
.tab_series {
    border-top: 1px solid #474747;
    .panel{
        border-radius: 0;
        background: none;
        border-color: transparent;
        border-bottom: 1px solid #474747;
        &-group{
            margin-bottom: 0;
        }
        &+.panel{
            margin-top: 0;
        }
        .panel-heading{
            background: none;
            padding: 15px 10px;
            &+.panel-collapse{
                > .panel-body{
                    border-top-color: transparent;
                    background-color: #1a1a1a;
                }
            }
        }
        .panel-title{
            color: #8e8e8e;
            font-size: 14px;
        }
        .panel-body{
            display: flex;
            flex-wrap: wrap;
            padding: 15px 10px;
            a{
                width:calc(100% / 4 - 3px);
                margin-right: 4px;
                margin-bottom: 4px;
                text-align: center;
                border-radius: 3px;
                border: 1px solid #474747;
                color: #7d7d7d;
                &:nth-child(4n+4){
                    margin-right: 0;
                }
                &.active{
                    background-color: #ff443f;
                    color: #fff;
                    border-color: #ff443f;
                }
                @media(max-width:991px){
                    width:calc(100% / 5 - 4px);
                    &:nth-child(5n+5){
                        margin-right: 0;
                    }
                    &:nth-child(4n+4){
                        margin-right: 4px;
                    }
                }
                @media(max-width:450px){
                    width:calc(100% / 4 - 3px);
                    &:nth-child(4n+4){
                        margin-right: 0px;
                    }
                    &:nth-child(5n+5){
                        margin-right: 4px;
                    }
                    
                }
            }
        }
    }
}
.video_player_info{
    padding: 10px 15px;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            margin: 0 5px;
            color: #b3b3b3;
            &.share{
                color: #dadada;
                i{
                    color: #b3b3b3;
                }
            }
        }
    }
    > div, a{
        margin:10px 0;
        color: #ccc;
    }
    a{
        color: #b3b3b3;
        &:hover{
            color: #ff443f;
        }
    }
    i{
        color: #dadada;
        margin-right: 5px;
    }
}
.video_player_info_right{
    li{
        a{
            &:hover{
                i{
                    color: #ff443f;
                }
            }
        }
    }
    .hot_list{
        margin-top: 5px;
    }
}
.video_player_info_title{
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
}
.video_player_info {
    li{
        &:last-child{
            margin-right: 0;
        }
        .share {
            i{
                color: #484848;
                margin-left: 3px;
            }
        }
    }
}
.tv_player_list{
    overflow: auto;
    height: 593px;
}
.tv_player_unit{
    display: block;
    margin-bottom: 10px;
}
.tv_play_img{
    width: 35%;
    display: inline-block;
    position: relative;
    height: 75px;
    overflow: hidden;
}
.tv_play_time {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    color: #fff;
    text-align: right;
    padding: 0 5px;
}
.tv_play_info{
    width: 62%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    color: #a9a9a9;
}
.tv_play_title{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tv_play_view{
    margin-top: 3px;
    i{
        margin-right: 5px;
    }
}
.tv_player_unit:hover .tv_play_title{
    color: #ff443f;
}

.tv_detail_content{
    margin-top: 40px;
}
.tv_detail_left{
    padding-left: 0;
    @media(max-width:991px){
        padding-right: 0;
    }
}
.tv_detail_right{
    padding-right: 0;
    @media(max-width:767px){
        padding-left: 0;
    }
}
.tv_detail_head{
    padding-bottom: 20px;
}
.tv_detail_hot_select{
    // margin-bottom: 15px;
}
.tv_detail_mtitle {
    color: #333333;
    display: inline-block;
    font-size: 22px;
    margin: 0 10px 0 0;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff443f;
}
.tv_detail_hot_select_list{
    display: flex;
    flex-wrap: wrap;
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
.video_unit{
    width: calc(100% / 5 - 12px);
    &:nth-child(5n+5){
        margin-right: 0;
    }
    @media(max-width:767px){
		width: calc(100% / 4 - 12px);
		&:nth-child(4n+4){
			margin-right: 0;
        }
        &:nth-child(5n+5){
            margin-right: 15px;
        }
		&:nth-child(n+9){
			display: none;
		}
	}
	@media(max-width:575px){
		width: calc(100% / 3 - 11px);
		&:nth-child(3n+3){
			margin-right: 0;
		}
		&:nth-child(4n+4){
			margin-right: 15px;
		}
		&:nth-child(n+9){
			display: block;
		}
		&:nth-child(n+10){
			display: none;
		}
	}
	@media(max-width:400px){
		width: calc(100% / 2 - 8px);
		&:nth-child(2n+2){
			margin-right: 0;
		}
		&:nth-child(3n+3){
			margin-right: 15px;
		}
		&:nth-child(6n+6){
			margin-right: 0;
		}
		&:nth-child(n+10){
			display: block;
		}
	}
}

.tv_detail_hot_select_img{
    height: 240px;
    @media (max-width:991px){
        height: 200px;
    }
}
.tv_detail_hot_select_info{
    padding: 5px 10px;
}
.tv_detail_hot_select_title{
    font-size: 15px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tv_detail_hot_select_txt{
    font-size: 13px;
    color: #999999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment_img{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border:1px solid #cbcbcb;
    vertical-align: top;
}
.comment_txt{
    display: inline-block;
    width: calc(100% - 55px);
    padding-left: 20px;
}
.comment_btn{
    text-align: right;
    margin-top: 10px;
}
.comment_btn span{
    margin-left: 10px;
}
.comment_unit{
    border-bottom:1px solid #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.user_name{
    color: #34495d;
    font-size: 15px;
}
.comment_user_talk{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #555555;
    margin-bottom: 15px;
}
.user_post_time{
    color: #999;
}
.tv_detail_intro{
    background: #fff;
    padding: 15px;
}
.detail_more{
    float: right;
    color: #ff443f;
}
.detail_more:hover{
    color: #ff443f;
}
.maybe_like_mtitle{
    color: #333333;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.maybe_like_list{
    background: #fff;
    padding: 10px;
    .maybe_like_unit{
        display: block;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    @media(max-width:767px){
        display: flex;
        flex-wrap: wrap;
        .maybe_like_unit{
            width: calc(100% /2 - 4px);
            margin-right: 5px;
            &:nth-child(2n+2){
                margin-right: 0;
            }
        }
        .maybe_like_img, .maybe_like_info{
            width: 100%;
        }
        .maybe_like_info{
            padding-left: 0;
        }
    }
}

.maybe_like_img{
    width: 40%;
    display: inline-block;
    position: relative;
    height: 75px;
    overflow: hidden;
}
.maybe_like_date {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    background:rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
    padding: 0 5px;
    font-size: 12px;
}
.maybe_like_info {
    width: 57%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    color: #a9a9a9;
    vertical-align: top;
}
.maybe_like_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #444444;
}
.detail_rank_mtitle{
    color: #333333;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.detail_rank_list {
    padding: 15px;
    background: #fff;
    > div {
        margin-bottom: 5px;
        position: relative;
        padding-left: 25px;
        display: flex;
        align-items: baseline;
        span{
            &.rank_num{
                width: 22px;
                height: 22px;
                text-align: center;
                font-size: 13px;
                border:1px solid #999999;
                line-height: 22px;
                color: #333333;
                position: absolute;
                left: 0;
            }
            &.org_num{
                color: #ff9900;
                border: 1px solid #ff9900;
            }
        }
        .rank_title{
            color: #333333;
            width: 150px;
            overflow: hidden;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .rank_view{
            color: #999999;
            text-align: right;
            margin-left: auto;
            
        }
    }
}
