.ranking{
    &-tabs{
        border: none;
        color: #999999;
        position: relative;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        overflow-y: hidden;
        > li{
            float: inherit;
            margin-bottom: 0;
            > a{
                display: block;
                min-width: 80px;
                border: none;
                color: #999;
                border-radius: 4px;
                padding: 5px 10px;
                margin-right: 10px;
                background-color: #eee;
                border: 1px solid #cccccc;
                &:hover, &:focus{
                    background-color: #ff443f;
                    color: #fff;
                    border-color: #ff443f;
                }
            }
            &.active{
                > a{
                    background-color: #ff443f;
                    border-color: #ff443f;
                    color: #fff;
                    &:hover, &:focus{
                        background-color: #ff443f;
                        border-color: #ff443f;
                        color: #fff;
                    }
                }
            }
        }
    }
    &-tab-content{
        background-color: #fff;
        padding:20px;
    }
    &-list{
        @media(max-width:767px){
            margin-bottom: 25px;
        }
    }
    &-list-head{
        > div{
            display: flex;
            align-items: center;
            padding-left: 0;
            margin-bottom: 15px;
            @media(max-width:767px){
                margin-bottom: 10px;
            }
            > div{
                width: 50%;
                position: relative;
            }
            .title{
                padding-left: 30px;
            }
            .link{
                text-align: right;
                
                a{
                    color: #999;
                    font-size: 14px;
                }
                i{
                    position: relative;
                    top: 0;
                    color: #999;
                    font-size: 14px;
                }
                &:hover{
                    a, i{
                        color: #ff443f;
                    }
                }
            }
        }
    }
    &-list-body{
        a{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            color: #333;
        }
    }
    &-head{
        color: #333333;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: bold;
        vertical-align: middle;
        position: relative;
        padding-left: 30px;
        i{
            font-size: 24px;
            margin-right: 10px;
            color: #ff443f;
            position: relative;
            top: -3px;
            position: absolute;
            left: 0;
        }
        
    }
}
.tv_sub_list{
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
.video_unit{
    width: calc(100% / 5 - 12px);
    &:nth-child(5n+5){
        margin-right: 0;
    }
    @media(max-width:767px){
		width: calc(100% / 4 - 12px);
		&:nth-child(4n+4){
			margin-right: 0;
        }
        &:nth-child(5n+5){
            margin-right: 15px;
        }
		&:nth-child(n+9){
			display: none;
		}
	}
	@media(max-width:575px){
		width: calc(100% / 3 - 11px);
		&:nth-child(3n+3){
			margin-right: 0;
		}
		&:nth-child(4n+4){
			margin-right: 15px;
		}
		&:nth-child(n+9){
			display: block;
		}
		&:nth-child(n+10){
			display: none;
		}
	}
	@media(max-width:400px){
		width: calc(100% / 2 - 8px);
		&:nth-child(2n+2){
			margin-right: 0;
		}
		&:nth-child(3n+3){
			margin-right: 15px;
		}
		&:nth-child(6n+6){
			margin-right: 0;
		}
		&:nth-child(n+10){
			display: block;
		}
	}
}
.tv_sub_img{
    height: 245px;
    @media(max-width:767px){
        height: 180px;
    }
    @media(max-width:575px){
        height: 130px;
    }
}
