.video_unit{
    width: calc(100% / 5 - 12px);
    &:nth-child(5n+5){
        margin-right: 0;
    }
    @media(max-width:767px){
		width: calc(100% / 4 - 12px);
		&:nth-child(4n+4){
			margin-right: 0;
        }
        &:nth-child(5n+5){
            margin-right: 15px;
        }
		&:nth-child(n+9){
			display: none;
		}
	}
	@media(max-width:575px){
		width: calc(100% / 3 - 11px);
		&:nth-child(3n+3){
			margin-right: 0;
		}
		&:nth-child(4n+4){
			margin-right: 15px;
		}
		&:nth-child(n+9){
			display: block;
		}
		&:nth-child(n+10){
			display: none;
		}
	}
	@media(max-width:400px){
		width: calc(100% / 2 - 8px);
		&:nth-child(2n+2){
			margin-right: 0;
		}
		&:nth-child(3n+3){
			margin-right: 15px;
		}
		&:nth-child(6n+6){
			margin-right: 0;
		}
		&:nth-child(n+10){
			display: block;
		}
	}
}
.tv_sub_left{
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    padding: 0;
    color: #666666;
}
.tv_sub_right{
    @media(max-width:767px){
        padding: 0;
        margin-top: 20px;
        
    }
}
.tv_sub_lTitle{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff443f+0,ff7e00+100 */
    background: rgb(255,156,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,156,0,1) 0%, rgba(255,126,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,156,0,1) 0%,rgba(255,126,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,156,0,1) 0%,rgba(255,126,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff443f', endColorstr='#ff7e00',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 10px;
    font-size: 17px;
    > .dropdown button{
        width: 100%;
        background: transparent;
        border: none;
        text-align: left;
        position: relative;
        .caret{
            position: absolute;
            right:0;
            border-top: 7px dashed;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            top: 8px;
        }
    }
    .dropdown-menu{
        width: 100%;
    }
}
.tb_sub_select_box{
    margin: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #f1f1f1;
    &:last-child{
        border-bottom:none;
    }
    @media(max-width:767px){
        margin: 5px 10px;
        padding-bottom: 5px;
    }
}
.tv_sub_select_tab{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        display: inline-block;
        width:calc(100% / 3 - 3px);
    }
    a{
        color: #333333;
        &.select{
            color: #ff443f;
        }
    }
    @media(max-width:767px){
        li{
            width: inherit;
        }
    }
}
.filter_box{
    background: #fff;
    border:1px solid #cccccc;
    padding: 5px 120px 5px 75px;
    color: #999999;
    position: relative;
    .filter_title{
        position: absolute;
        left: 5px;
    }
    a{
        display: inline-block;
        margin: 0 5px;
        color:  #ff443f;
        i{
            margin-left: 3px;
            color: #666666;
            font-size: 12px;
            display: inline-block;
        }
    }
    .result{
        position: absolute;
        right:5px;
        width: 115px;
        text-align: right;
    }
}
.sorting_box{
    color: #999999;
    margin: 10px 0 15px;
    padding-bottom: 10px;
    border-bottom:1px solid #c2c2c2;
    position: relative;
    a{
        margin: 0 5px;
        color: #333333;
        &:hover{
            color:  #ff443f;
        }
        &.select{
            background: #ff443f;
            color: #fff;
            padding: 2px 7px;
            border-radius: 3px;
        }
    }
}
.tv_sub_unit{
    width: calc(100% / 5 - 14px);
    &:nth-child(5n+5){
        margin-right: 0;
    }
    @media (max-width: 991px){
        width: calc(100% / 4 - 13px);
        &:nth-child(5n+5){
            margin-right: 7px;
        }
        &:nth-child(4n+4){
            margin-right: 0;
        }
    }
}
.tv_sub_img{
    height: 245px;
    @media(max-width:767px){
        height: 180px;
    }
    @media(max-width:575px){
        height: 130px;
    }
}
@media(max-width:575px){
    .tv_sub_unit{
		width: calc(100% / 2 - 14px);
	}
	.tv_sub_unit:nth-child(5n+5){
		margin-right: 7px;
	}
	.filter_box{
		padding: 5px;
	}
	.filter_box .filter_title{
		position: relative;
		display: block;
	}
	.filter_box .result{
		position: relative;
		display: block;
		width: auto;
		text-align: left;
		padding-left: 10px;
	}
	.sorting_box .sorting_title{
		display: block;
		padding: 0 0 5px 5px;
	}
}